apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-video-predict
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-video-predict-service
  template:
    metadata:
      labels:
        app: backend-video-predict-service
    spec:
      containers:
      - name: backend
        image: ia984818/backend-video-predict:latest
        ports:
        - containerPort: 5000
        resources:
            requests:
              memory: "6Gi"
              cpu: "3000m"
            limits:
              memory: "12Gi"
              cpu: "4000m"
