.App{
  background: linear-gradient(to bottom, #0345fc, #011a61);
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.test{
  color: red;
}

.topbar{
  height: 100px;
}

.topbar img{
  height: 90px;
}

.loginPage{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.Box{
  background-color: white;
  width: 100%;
  height: 63vh;
  min-width: 350px;
  border-radius: 25px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box img{
  height: 80px;
  width: auto;
  object-fit: contain;
  margin-bottom: 0px;
}

.LoginInput{ 
  margin-bottom: 20px;
  height: 35px;
  width: 80%;
  border-radius: .5rem;
  border: 1px solid black;
}

.LoginInput:focus{
  border-color: #0345fc !important;
  border: 2px solid #0345fc;
  margin-bottom: 18px;
  outline: none;
}

.loginTitle{
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 18px;
}

.signupPage{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.Box2{
  background-color: white;
  width: 100%;
  height: 80vh;
  min-width: 350px;
  border-radius: 25px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box2 img{
  height: 80px;
  width: auto;
  object-fit: contain;
  margin-bottom: 0px;
}

.Input{ 
  margin-bottom: 15px;
  height: 30px;
  width: 80%;
  border-radius: .5rem;
  border: 1px solid black;
}

.Input:focus{
  border-color: #0345fc !important;
  border: 2px solid #0345fc;
  margin-bottom: 13px;
  outline: none;
}

.submit{
  color: white;
  background-color: #0345fc;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 1rem;
  height: 40px;
  border: 1px solid black;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif
}

.signupTitle{
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 18px;
}

.Signup{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.signupBox{
  width: 400px;
}

.Login{
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.loginBox{
  width: 400px;
}

.clickable{
  color: blue;
  text-decoration: underline;
}

.signup-text{
  margin-bottom: 10px;
  margin-top: auto;
}

.error{
  margin: 0px;
  color: red;
}

.MediaBoxes{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaBox{
  border: 3px solid black;
  border-radius: 15px;
  height: auto;
  width: 30%;
  margin: 1%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.imageTitle{
  color: white;
  margin-top: 5px;
  margin-bottom: 0px;
}

.icon{
  font-size: 20vh !important;
  margin: 0px !important;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.uploadButton {
  color: transparent;    
  width: 100%;             
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
}

.uploadButton::file-selector-button {
  background-color: #0345fc;
  color: white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.uploadButton::file-selector-button:hover {
  background-color: #0230b8;
}

.uploadBox{
  width: 90%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid black;
  position: relative;
}

.uploadBox p{
  flex: 1;
  text-align: center;
  margin: 0;
  color: white;
  font-size: 25px;
  position: absolute;
}

.customFileButton{
  font-size: 60px !important;
  width: 60px;    
  height: 60px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  
}

.addIcon{
  font-size: 100% !important;
  margin: 0px;
}

.customFileButton:hover{
  background-color: #011a61;
}

.submitButton{
  border: 3px solid black;
  width: 35%;
  margin-top: 30px;
  height: 50px;
  border-radius: 20px;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.allowedTypes{
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}

@media only screen and (max-width: 600px) {
  .mediaBox {
    max-width: 120px;   /* smaller width on phone */
    height: 125px;  /* smaller height on phone */
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .loginBox{
    width: 90%;
  }

  .signupBox{
    width: 90%;
  }

  .MediaBoxes {
    margin-top: 70px !important;
    display: flex;
    flex-direction: row;       
    flex-wrap: wrap;           
    justify-content: center;   
    align-items: flex-start;  
    gap: 5px;   
    margin-top: 0px;   
    padding: 0 !important;
  }

  .mediaBox{
    width: 40%;
    height: auto;
  }

  .icon{
    font-size: 12vh !important;
    margin: 0px !important;
  }

  .toolbar{
    padding: 0 !important;
  }

  .imageTitle{
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 30px;
  }

  .uploadBox p{
    flex: 1;
    text-align: center;
    font-size: 100%;
    color: white;
  }
  
}

.returnButton{
  color: white !important;
  position: fixed ! important;
  bottom: 20px ! important;
  right: 20px ! important;
  border-radius: 20px ! important;
  border: 3px solid black ! important;
}

.returnIcon{
  color: red;
  margin-right: 5px;
}


